Repository un-ts/react-server-renderer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(deps): add renovate.json
  renovate.json
Due: prettier --write

build: migrate to yarn v4
  .changeset/README.md
  .changeset/config.json
  .commitlintrc
  .eslintrc
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  .gitignore
  .huskyrc
  .lintstagedrc
  .lintstagedrc.cjs
  .prettierrc
  .simple-git-hooks.cjs
  .travis.yml
  .yarn/plugins/plugin-prepare-lifecycle.cjs
  .yarnrc.yml
  README.md
  client-plugin.d.ts
  client-plugin.js
  package.json
  server-plugin.d.ts
  server-plugin.js
  src/bundle-renderer/create-bundle-renderer.ts
  src/bundle-renderer/create-bundle-runner.ts
  src/bundle-renderer/source-map-support.ts
  src/create-renderer.ts
  src/index.ts
  src/template-renderer/create-async-file-mapper.ts
  src/template-renderer/index.ts
  src/template-renderer/parse-template.ts
  src/template-renderer/template-stream.ts
  src/types.ts
  src/util.ts
  src/webpack-plugin/client.ts
  src/webpack-plugin/server.ts
  src/webpack-plugin/util.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

ci: enable codesandbox
  .codesandbox/ci.json
Due: prettier --write

docs: add changeset for releasing
  .changeset/lemon-pumpkins-smell.md
  .changeset/thirty-frogs-beg.md
Due: prettier --write

ci: add missing release script
  .changeset/config.json
  .github/workflows/release.yml
  README.md
  package.json
  yarn.lock
Due: prettier --write

chore: release react-server-renderer (#47)
  .changeset/lemon-pumpkins-smell.md
  .changeset/thirty-frogs-beg.md
  .yarn/install-state.gz
  CHANGELOG.md
  package.json
Due: prettier --write

fix: unexpected empty package content
  .eslintignore
  .yarn/install-state.gz
  package.json
  yarn.lock
Due: prettier --write

Create chatty-actors-check.md
  .changeset/chatty-actors-check.md
Due: prettier --write

fix: unexpected empty package content (#48)
  .changeset/chatty-actors-check.md
  .eslintignore
  .yarn/install-state.gz
  package.json
  yarn.lock
Due: prettier --write

chore: remove unexpected yarn file
  .gitignore
  .yarn/install-state.gz
Due: none

chore: release react-server-renderer (#49)
  .changeset/chatty-actors-check.md
  CHANGELOG.md
  package.json
Due: prettier --write

fix: lodash is commonjs
  src/template-renderer/parse-template.ts
  src/util.ts
  src/webpack-plugin/client.ts
Due: eslint --fix

Create chilled-terms-judge.md
  .changeset/chilled-terms-judge.md
Due: prettier --write

ci: enable --ignore-engines for CodeSandbox CI
  .codesandbox/ci.json
  package.json
Due: prettier --write

fix: lodash is commonjs (#50)
  .changeset/chilled-terms-judge.md
  .codesandbox/ci.json
  package.json
  src/template-renderer/parse-template.ts
  src/util.ts
  src/webpack-plugin/client.ts
Due: eslint --fix, prettier --write

chore: release react-server-renderer (#51)
  .changeset/chilled-terms-judge.md
  CHANGELOG.md
  package.json
Due: prettier --write

fix: better compatible with webpack v4/v5
  .nvmrc
  src/webpack-plugin/server.ts
  src/webpack-plugin/util.ts
Due: eslint --fix

Create dirty-olives-relate.md
  .changeset/dirty-olives-relate.md
Due: prettier --write

fix: better compatible with webpack v4/v5 (#52)
  .changeset/dirty-olives-relate.md
  .nvmrc
  src/webpack-plugin/server.ts
  src/webpack-plugin/util.ts
Due: eslint --fix, prettier --write

chore: release react-server-renderer (#53)
  .changeset/dirty-olives-relate.md
  CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{md,json}
